*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(223, 217, 217);
}

.container{
    max-width: 900px;
    margin: 0 auto ;
}

.apply_box{
    max-width: 600px;
    padding:  20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgb(1, 1, 1);
    /* box-shadow: 4px, 3px, 5px, rgba(1, 1, 1, 0.8); */
    border-radius: 10px;
}

.title_small{
    font-size: 22px;
}

.form_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;  
}

.form_control{
    display: flex;
    flex-direction: column;
}